<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Managing images</h3>
    <ul>
      <li>Accessing OMERO.web</li>
      <li>OMERO.web interface and OMERO data structures</li>
      <li>Annotations: tags, key-value pairs</li>
      <li>Rendering settings</li>
      <li>Searching, filtering, tag-searching</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">OMERO.iviewer</h3>
    <ul>
      <li>Viewing, rendering settings</li>
      <li>Adding ROIs, measurements</li>
      <li>Reading and Plotting Data</li>
    </ul>
  </div>
 </div>
 <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">OMERO.figure</h3>
    <ul>
      <li>Adding images</li>
      <li>Panels: resizing, aligning</li>
      <li>Rendering settings</li>
      <li>Labels and scale bars</li>
      <li>Using results from Fiji</li>
      <li>Zoom and pan</li>
      <li>Paper settings</li>
      <li>Exporting figures</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-matlab">OMERO data in Fiji</h3>
    <ul>
      <li>Basic plugin usage</li>
      <li>Performing local analysis</li>
      <li>Saving results to OMERO</li>
     </ul>
   </div>
</div>
